<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.scc}">
</head>
<body>

<!--导航-->
<!-- inverted反转颜色 -->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <!-- 菜单栏 -->
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>

            <!-- 头像 -->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        汤佳豪
                    </div>
                    <!-- 下拉图标 -->
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 列表小图标 -->
    <a href="#" class="ui menu toggle icon black button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!-- 二级导航 -->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#"  th:href="@{/admin/blogs/input}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="active teal  item">列表</a>
        </div>

    </div>

</div>

<!--中间内容开始-->
<div class="m-container-small m-padded-tb-large">
    <div class="container">
        <div class="ui secondary segment form">
            <input type="hidden" name="page">

            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>

                <div class="field">
                    <!--清除按钮功能-->
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}"
                                     th:text="${type.name}">错误日志
                                </div>
                                <!--/*-->
                                <div class="item" data-value="2">开发者手册</div>
                                <!--*/-->
                            </div>
                        </div>

                        <!--清除按钮-->
                        <button id="clear-btn" class="ui compact button">clear</button>

                    </div>

                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>

                    </div>
                </div>

                <div class="field">
                    <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索
                    </button>
                </div>

            </div>
        </div>

        <div id="table-container">
            <!-- 表格 -->
            <table th:fragment="blogList" class="ui compact teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.list}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">名单</td>
                    <td th:text="${blog.type.name}">认知升级</td>
                    <td th:text="${blog.recommend}?'是':'否'">是</td>
                    <td th:text="${blog.published}?'发布':'草稿'">草稿</td>
                    <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-03-17</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}"
                           class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}"
                           class="ui mini red basic button" onclick="return confirm('删除？')">删除</a>
                    </td>

                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <!--<th colspan="7">-->
                    <!--    <div class="ui mini floated pagination menu" th:if="${page.totalPages}>1">-->
                    <!--        <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item"-->
                    <!--           th:unless="${page.first}">上一页</a>-->
                    <!--        <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item"-->
                    <!--           th:unless="${page.last}">下一页</a>-->
                    <!--    </div>-->
                    <!--    <a href="#" th:href="@{/admin/blogs/input}"-->
                    <!--       class="ui mini right floated teal basic button">新增</a>-->
                    <!--</th>-->

                    <th colspan="6" >
                        <div class="ui inverted divided stackable grid ">
                            <div class="three wide column " align="center">
                                <a th:href="@{/admin/blogs(pageNum=${page.hasPreviousPage}?${page.prePage}:1)}" href="#"
                                   class=" item ui teal basic button mini"
                                   th:unless="${page.isFirstPage}">上一页</a>
                            </div>
                            <div class="ten wide column" align="center">
                                <p>第 <span th:text="${page.pageNum}"></span> 页，共 <span th:text="${page.pages}"></span> 页，有
                                    <span th:text="${page.total}"></span> 个分类</p>
                            </div>
                            <div class="three wide column" align="center">
                                <a th:href="@{/admin/blogs(pageNum=${page.hasNextPage}?${page.nextPage}:${page.pages})}"
                                   href="#" class="item ui teal basic button mini"
                                   th:unless="${page.isLastPage}">下一页</a>
                            </div>
                        </div>
                        <div align="center">
                            <a href="#" th:href="@{/admin/blogs/input}">
                                <button type="button" class="ui teal button m-mobile-wide m-margin-top"><i
                                        class="pencil icon mini"></i>新增
                                </button>
                            </a>
                        </div>
                        <!--<a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>-->
                    </th>
                </tr>
                </tfoot>

            </table>
            <!--    消息提示-->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>

        </div>

    </div>
</div>
<!-- 中间内容结束 -->


<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <!-- 第一个图片 -->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/newke.png" th:src="@{/images/newke.jpg}" class="ui rounded image"
                             alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <!-- 第二块区域 -->
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <!-- 第三块区域 -->
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：2637185783@qq.com</a>
                    <a href="#" class="item m-text-thin">QQ：2637185783</a>
                </div>
            </div>
            <!-- 第四块区域 -->
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2021 - 2022 TangJiahao Designed by
            TangJiahao</p>
    </div>

</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<!--/*/</th:block>/*/-->

<!-- 菜单列表按钮动作 -->
<script>
    $('.menu.toggle').click(function () {
        // 有就删除，没就添加
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $(".ui.dropdown").dropdown({
        on: "hover"
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    //清除分类的内容
    $('#clear-btn')
        .on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        })
    ;


    function page(obj) {
        $("[name='page']").val($(obj).data('page'));
        loaddata();
    }

    $('#search-btn').click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    //ajax刷新内容 上下页和search 查询博客内容
    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }


</script>
</body>
</html>
